<% content_for :title do %>
   
    <% end %>
    
    <div class="title_holder">
        <span class="title">SEARCH RESULT</span>
        <!--<%= form_tag '/', name:'per_page', method: 'POST' do%>
            <% if @per_page%>
                <%= number_field_tag 'content', @per_page, in: 1..6 %>
            <%else%>
                <%= number_field_tag 'content', 4, in: 1..6 %>
            <%end%>
        <% end %>
        -->
    </div>
    
    <div class="template" hidden>
        <a class="link" href="">
            <div class="no-pad no-gutters media_content">
                <div class="col-6">
                    <img class="poster" src="" alt="Mus14">
                </div>
                <div class="col-6 media_details">
                    <span class="tag"></span>
                    <p class="info">By : <span class="artist_name"></span></p>
                </div>
            </div>
        </a>
        <hr/>
    </div>
    
    
    <div id= "content_holder">
        <% if @contents %>
            <% @contents.each do |content|%>
                <% if content.media_type.downcase=="music"%>
                <div>
                    <a href= <%= "/musics/#{content.media_id}" %> >
                        <div class="no-pad no-gutters media_content">
                            <div class="col-6">
                                <img class="poster" src=<%=content.media_poster%> alt="Mus14">
                            </div>
                            <div class="col-6 media_details">
                                <span class="tag"><%=content.title%></span>
                                <p class="info">By : <span class="artist_name"><%=content.artist_name%></span></p> 
                            </div>
                        </div>
                    </a>
                    <hr/>
                </div>
                <% elsif content.media_type.downcase=="video" %>
                    <a href= <%= "/videos/#{content.media_id}" %> >
                        <div class="no-pad no-gutters media_content">
                            <div class="col-6">
                                <img class="poster" src=<%=content.media_poster%> alt="Mus14">
                            </div>
                            <div class="col-6 media_details">
                                <span class="tag"><%=content.title%></span>
                            </div>
                        </div>
                    </a>
                    <hr/>
                <% elsif content.media_type.downcase=="news" %>
                    <a href= <%= "/news/#{content.media_id}" %> >
                        <div class="no-pad no-gutters media_content">
                            <div class="col-6">
                                <img class="poster" src=<%=content.media_poster%> alt="Mus14">
                            </div>
                            <div class="col-6 media_details">
                                <span class="tag"><%=content.title%></span>
                            </div>
                        </div>
                    </a>
                    <hr/>
                <% end %>
            <% end %>
        <% end %>
    </div>
    
    
    <%= form_tag '/', name: 'per_page', remote: true do %>
        <%= hidden_field_tag 'offset', @query_offset %>
        <%= submit_tag 'load more...', disabled: false, id: 'load_content', class: 'more' %>
    <% end %>