<%= content_for :special_js do %>
    <%= javascript_include_tag 'pagination' %>
<% end %>

<div class="title_holder">
    <span class="title">VIDEOS</span>
</div>
<hr/>
<% if @videos %>
    <% @contents.each do |video|%>
        <a href= <%= "/videos/#{video.id}" %> >
            <div class="no-pad no-gutters media_content">
                <div class="col-6">
                    <img class="poster" src=<%=video.poster_path%> alt="Mus14">
                </div>
                <div class="col-6 media_details column-display">
                    <span class="tag"><%=video.title%></span><br>
                </div>
            </div>
        </a>
        <hr/>       
    <% end %>    
<% end %>