<div class="template" hidden>
    <a class="link" href="">
        <div class="no-pad no-gutters media_content">
            <div class="col-6">
                <img class="poster" src="" alt="Mus14">
            </div>
            <div class="col-6 media_details">
                <span class="tag"></span>
            </div>
        </div>
    </a>
    <hr/>
</div>

<div class="title_holder">
    <span class="title">NEWS</span>
</div>

<div id= "content_holder">
    <% if @contents %>
        <% @contents.each do |news|%>
            <a href= <%= "/news/#{news.id}" %> >
                <div class="section no-pad no-gutters row">
                    <div class="col-5 music-poster">
                        <img class="music-poster" src=<%=news.image_path%> alt="Mus14">
                    </div>
                    <div class="col-6 music-detail">
                        <span class="tag"><%=news.title%></span>
                    </div>
                </div>
            </a>
            <hr/>
        <% end %>
    <% end %>
</div>

<%= form_tag '/news', name: 'per_page', remote: true do %>
    <%= hidden_field_tag 'offset', @query_offset %>
    <%= submit_tag 'load more...', disabled: false, id: 'load_content', class: 'more' %>
<% end %>