<%= content_for :special_js do %>
    <%= javascript_include_tag 'pagination' %>
<% end %>

<div class="title_holder">
    <span class="title">NEWS</span>
    <%= form_tag '/news_index', name:'per_page', method: 'POST' do%>
        <% if @per_page%>
            <%= number_field_tag 'content', @per_page, in: 1..6 %>
        <%else%>
            <%= number_field_tag 'content', 4, in: 1..6 %>
        <%end%>
    <% end %>
</div>
<hr/>

<% if @news %>
    <div class="pagination">
        <button id="backward" class="pag-btn pagination-navs backward"><<</button> 

        <%@tot_nav_links.times do |link|%>
            <% if link<5 %>
                <%=form_tag '/news_index', name: 'page', method: 'POST' do%>
                    <button value="<%=link + 1 %>" type='submit' class="<%=link+1 %> pag-btn pag-marg-left"><%=link+1%></button>
                    <%= hidden_field_tag 'content', @per_page %>
                    <%= hidden_field_tag 'page', link+1 %>
                <%end%>
            <%elsif link+1 == @tot_nav_links%>
                <%=form_tag '/news_index', name: 'page', method: 'POST' do%>
                    <span class="pag-marg-left">...</span>
                    <button value="<%=link + 1 %>" type='submit' class="<%=link+1 %> pag-btn pag-marg-left"><%=link+1%></button>
                    <%= hidden_field_tag 'content', @per_page %>
                    <%= hidden_field_tag 'page', link+1 %>
                <%end%> 
            <%end%>
        <%end%>

        <%=form_tag '/news_index', name: 'pag_query_form', method: 'POST' do%>
            <button id='forward' class="pag-btn pagination-navs pag-marg-left forward">>></button>
            <%= hidden_field_tag 'content', @per_page %>
            <%= hidden_field_tag 'page', @current_page, id: 'current_page' %>
            <%= hidden_field_tag 'total', @tot_nav_links, id: 'tot_nav_links_f' %>
        <%end%>
    </div>
    <hr/>

    <% @contents.each do |news|%>
        <a href= <%= "/news/#{news.id}" %> >
            <div class="section no-pad no-gutters row">
                <div class="col-5 music-poster">
                    <img class="music-poster" src=<%=news.image_path%> alt="Mus14">
                    <div class="audio-control"></div>
                </div>
                <div class="col-6 music-detail">
                    <span class="tag"><%=news.title%></span>
                    <span class="release"><%=news.released%></span>
                </div>
            </div>
        </a>
        <hr/>
    <% end %>

    <div class="pagination">
    
        <button id="backward" class="pag-btn pagination-navs backward"><<</button>
        
        <%@tot_nav_links.times do |link|%>
            <% if link<5 %>
                <%=form_tag '/news_index', name: 'page', method: 'POST' do%>
                    <button value="<%=link + 1 %>" type='submit' class="<%=link+1 %> pag-btn pag-marg-left"><%=link+1%></button>
                    <%= hidden_field_tag 'content', @per_page %>
                    <%= hidden_field_tag 'page', link+1 %>
                <%end%>
            <%elsif link+1 == @tot_nav_links%>
                <%=form_tag '/news_index', name: 'page', method: 'POST' do%>
                    <span class="pag-marg-left">...</span>
                    <button value="<%=link + 1 %>" type='submit' class="<%=link+1 %> pag-btn pag-marg-left"><%=link+1%></button>
                    <%= hidden_field_tag 'content', @per_page %>
                    <%= hidden_field_tag 'page', link+1 %>
                <%end%> 
            <%end%>
        <%end%>

        <button id='forward' class="pag-btn pagination-navs pag-marg-left forward">>></button>
    
    </div>
<% end %>