<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= yield(:social_media_meta)%>
		<%= csrf_meta_tags %>
		<%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	<body>
		<%= content_for?(:header) ? yield(:header) : render("layouts/header") %>
		<%= yield %>
		<%= content_for?(:footer) ? yield(:footer) : render("layouts/footer") %>
		<%= yield :special_css%>
		<%= yield :pagination_js%>
		<%= yield :submit_icon_js%>
		<%= yield :social_media_share%>
  </body>
</html>
