<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Abel|ABeeZee|Alfa+Slab+One|Open+Sans|Montserrat:300,700|Fjalla+One|Average|Istok+Web|Lora|Lato|Merriweather:300|Cardo|Domine|Neuton|Muli|Playfair+Display:700|Gentium+Book+Basic|Oswald:300|Quattrocento|PT+Sans|PT+Serif|Raleway:700|Ubuntu|Bitter|Bree+Serif|Cantata+One|Imprima|Crete+Round|Lustria|Old+Standard+TT|Questrial|Ovo|Muli|Quattrocento+Sans|Roboto|Roboto+Slab|Rufina|Rokkitt|Sintony|Vollkorn|Exo|Dosis|Cantarell|Oxygen|Source+Sans+Pro|Philosopher|Cabin|Amatic+SC|Andika|Josefin+Sans|Bevan|Pontano+Sans|Flamenco|Asap|Lobster|Arimo|Medula+One|Pacifico|Patua+One|Rancho|Gudea|Shadows+Into+Light|Squada+One|Allerta|Stint+Ultra+Expanded|Clicker+Script|EB+Garamond|Dancing+Script|Nixie+One|Ledger|Libre+Baskerville|Sacramento|Alice|Sansita+One|Kameron|Unica+One|Fauna+One|Quando|Judson|Fanwood+Text|Ultra|Slabo+13px|Nunito|Hind|Open+Sans+Condensed|Droid+Sans|Didact+Gothic|Alegreya|Francois+One|Inconsolata|Walter+Turncoat|Amaranth|Titillium+Web|Kreon|Josefin+Slab|Yeseva+One|Quicksand:700|Cutive+Mono|Crimson+Text|Playfair+Display+SC|Londrina+Solid|Signika:700|Maven+Pro|Proza+Libre|Libre+Franklin|Work+Sans|Cormorant+Garamond|Proza+Libre|Rubik|Trirong|Taviraj|Gentium+Basic|Space+Mono|Fira+Sans|Alegreya+Sans|Merriweather+Sans|Nunito+Sans:300,700|Source+Serif+Pro|Spectral|Poppins|BioRhyme|Archivo+Narrow|Karla|Anonymous+Pro|Chivo|Overpass|Halant|IBM+Plex+Sans|IBM+Plex+Serif|Archivo+Black|Saira" rel="stylesheet" type="text/css">-->
		<%= csrf_meta_tags %>
		<%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	<body>
		<%= content_for?(:header) ? yield(:header) : render("layouts/header") %>
		<%= yield %>
		<%= yield :special_css%>
		<%= yield :pagination_js%>
		<%= yield :submit_icon_js%>
		<%= content_for?(:footer) ? yield(:footer) : render("layouts/footer") %>
  </body>
</html>
